@model List<BikesShop.Models.ForkViewModel>

@{
    ViewBag.Title = "Forks";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Forks", FormMethod.Get))
    {
    <p>
        Name: @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Fork Type")
        </th>
        <th>
            @Html.DisplayName("Fork Brand")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForkType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForkBrand)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
