@model List<BikesShop.Models.BicycleColorViewModel>

@{
    ViewBag.Title = "Colors";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "BicycleColors", FormMethod.Get))
    {
        <p> 
            Name: @Html.TextBox("searchString")
            <input type="submit" value="Filter" />
        </p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Color")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
